In [1]:
# initial imports and settings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sc2reader
import re
import random
import datetime
import json
from scripts.classes import ReplayInfo
import time
import math

# sklearn
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

# import svm
from sklearn.svm import SVC
from sklearn.svm import LinearSVC

# import random forest
from sklearn.ensemble import RandomForestClassifier

# import KNN
from sklearn.neighbors import KNeighborsClassifier

# import grid_search
from sklearn.model_selection import GridSearchCV

# import warnings
import warnings

In [3]:
replays_dir = "data/events"
columns_list = []
index_list = []

start_time = time.time()
total_replays = len(os.listdir(replays_dir))
# loop through each pkl in the directory
for i, filename in enumerate(os.listdir(replays_dir)):
   
    # print progress and eta
    eta = round((time.time() - start_time)/(i+1)*(total_replays-i),0)
    print(
        f'\r{i+1}/{total_replays} - ETA: {datetime.timedelta(seconds=eta)}',
        end=''
    )

    # handle both pkl and csv files
    if filename.endswith(".pkl"):
        # load the pkl file into a dataframe
        df = pd.read_pickle(os.path.join(replays_dir, filename))
    elif filename.endswith(".csv"):
        # load the csv file into a dataframe
        df = pd.read_csv(os.path.join(replays_dir, filename), index_col=0)
    else:
        continue

    # remove extension from filename
    filename_no_ext = filename.split(".")[0]
    index_list.append(filename_no_ext)

    # get the column names
    columns_list.append(df.columns.values)

36812/36812 - ETA: 0:00:00

In [2]:
# create a dataframe with all the column names
columns_df = pd.DataFrame(
    [sorted(x) for x in columns_list], 
    index=index_list
)
columns_df.head()

NameError: name 'columns_list' is not defined

In [5]:
# find any rows that have nan values
columns_df[columns_df.isnull().any(axis=1)]

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
00963846e01f659436d5ffdd92482740d9258b88c546a2ed84e85699dd7c5553,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,frame,...,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None,None
00d98eeeb97d26e05e1fb403bbe6007a017791d5f56167915811e4ad86209601,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,frame,...,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None,None
014c724a43f733c4fcfc2fcf3b130c1bc7bcc857ecbf80b232c71dcef624ac6d,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,frame,...,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None,None
019ca1cc8f0dbecb198105696c1a0a8c338e95d023410acdf7ecfa6437e65e50,ability_id,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,...,vespene_used_current,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None
02ddc3ab01147d478733579be09edae2dcceb5458906422da0e2b8cf907ca3b4,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,frame,...,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fdfb3eb49acae60a8f5b4ed648797de94788ad60566bd6f14f07a93b47ec57bb,ability_id,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,...,vespene_used_current,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None
fe47e889289211a435b8e893945fdf86df57d5b97fa729f2f97a296a29c6dae5,ability_id,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,...,vespene_used_current,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None
fe8691dd94c3621b179a504232a5ea7698d522f55f18d2a8637313005291d2ee,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,frame,...,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None,None
ff769ceb5cbb5b90f564310ca91e957baa4ca3730c157f0b70346666a68a02a8,ability_id,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,...,vespene_used_current,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None
ff94ab31ba90e17a400f6fc7f845864f7a39f72058365356ffc1ac66732685d4,ability_id,count,ff_minerals_lost_army,ff_minerals_lost_economy,ff_minerals_lost_technology,ff_vespene_lost_army,ff_vespene_lost_economy,ff_vespene_lost_technology,food_made,food_used,...,vespene_used_current,vespene_used_current_army,vespene_used_current_economy,vespene_used_current_technology,vespene_used_in_progress,vespene_used_in_progress_army,vespene_used_in_progress_economy,vespene_used_in_progress_technology,workers_active_count,None

In [10]:

df = pd.read_pickle('data/events/0b602a51c350d3969406bc48230714e3cdfae1e7ee9bd3e885ba15684f96295f.pkl')
# pd.get_dummies(df['name'])

In [11]:
df.set_index('frame', inplace=True)
df.info()

frame_range = range(max(df.index)+1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5143 entries, 0 to 13181
Data columns (total 59 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   name                                  5143 non-null   object
 1   pid                                   4348 non-null   float64
 2   second                                5143 non-null   int64
 3   count                                 21 non-null     float64
 4   upgrade_type_name                     21 non-null     object
 5   unit_type_name                        494 non-null    object
 6   ff_minerals_lost_army                 169 non-null    float64
 7   ff_minerals_lost_economy              169 non-null    float64
 8   ff_minerals_lost_technology           169 non-null    float64
 9   ff_vespene_lost_army                  169 non-null    float64
 10  ff_vespene_lost_economy               169 non-null    float64
 11  ff_vespene_lost_technology            169 non-null    float64
 12  food_made                             169 non-null    float64
 13  food_used                             169 non-null    float64
 14  minerals_collection_rate              169 non-null    float64
 15  minerals_current                      169 non-null    float64
 16  minerals_killed                       169 non-null    float64
 17  minerals_killed_army                  169 non-null    float64
 18  minerals_killed_economy               169 non-null    float64
 19  minerals_killed_technology            169 non-null    float64
 20  minerals_lost                         169 non-null    float64
 21  minerals_lost_army                    169 non-null    float64
 22  minerals_lost_economy                 169 non-null    float64
 23  minerals_lost_technology              169 non-null    float64
 24  minerals_used_active_forces           169 non-null    float64
 25  minerals_used_current                 169 non-null    float64
 26  minerals_used_current_army            169 non-null    float64
 27  minerals_used_current_economy         169 non-null    float64
 28  minerals_used_current_technology      169 non-null    float64
 29  minerals_used_in_progress             169 non-null    float64
 30  minerals_used_in_progress_army        169 non-null    float64
 31  minerals_used_in_progress_economy     169 non-null    float64
 32  minerals_used_in_progress_technology  169 non-null    float64
 33  resources_killed                      169 non-null    float64
 34  resources_lost                        169 non-null    float64
 35  resources_used_current                169 non-null    float64
 36  resources_used_in_progress            169 non-null    float64
 37  vespene_collection_rate               169 non-null    float64
 38  vespene_current                       169 non-null    float64
 39  vespene_killed                        169 non-null    float64
 40  vespene_killed_army                   169 non-null    float64
 41  vespene_killed_economy                169 non-null    float64
 42  vespene_killed_technology             169 non-null    float64
 43  vespene_lost                          169 non-null    float64
 44  vespene_lost_army                     169 non-null    float64
 45  vespene_lost_economy                  169 non-null    float64
 46  vespene_lost_technology               169 non-null    float64
 47  vespene_used_active_forces            169 non-null    float64
 48  vespene_used_current                  169 non-null    float64
 49  vespene_used_current_army             169 non-null    float64
 50  vespene_used_current_economy          169 non-null    float64
 51  vespene_used_current_technology       169 non-null    float64
 52  vespene_used_in_progress              169 non-null    float64
 53  vespene_used_in_progress_army         169 non-null    float64
 54  vespene_used_in_progress_economy      169 non-null    float64
 55  vespene_used_in_progress_technology   169 non-null    float64
 56  workers_active_count                  169 non-null    float64
 57  ability_id                            1007 non-null   float64
 58  killer_pid                            114 non-null    float64
dtypes: float64(55), int64(1), object(3)
memory usage: 2.4+ MB

In [12]:
df.shape

(5143, 59)

In [13]:
# list of unnecessary_event
unnecessary_events = [
    'AddToControlGroupEvent',
    'CameraEvent',
    'ChatEvent',
    'GetControlGroupEvent',
    'PlayerSetupEvent',
    'PlayerLeaveEvent',
    'ProgressEvent',
    'SelectionEvent',
    'SetControlGroupEvent',
    'UnitPositionsEvent',
    'UnitTypeChangeEvent',
    'UpdateTargetPointCommandEvent',
    'UpdateTargetUnitCommandEvent',
    'UserOptionsEvent'
]

necessary_events = [
    'TargetPointCommandEvent',
    'UnitBornEvent',
    'PlayerStatsEvent',
    'UnitDiedEvent',
    'UnitInitEvent',
    'UnitDoneEvent',
    'TargetUnitCommandEvent',
    'BasicCommandEvent',
    'UpgradeCompleteEvent'
]

# remove all rows where 'name' is in the unnecessary_events list
df = df[df['name'].isin(necessary_events)]
df.shape

(1450, 59)

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
pid,707.0,1.865629,0.341291,1.0,2.0,2.0,2.0,2.0
second,1450.0,422.540690,273.407024,0.0,175.0,461.0,660.0,823.0
count,21.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
ff_minerals_lost_army,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
ff_minerals_lost_economy,169.0,46.745562,82.401097,0.0,0.0,0.0,100.0,200.0
ff_minerals_lost_technology,169.0,106.508876,198.248885,0.0,0.0,0.0,100.0,550.0
ff_vespene_lost_army,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
ff_vespene_lost_economy,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
ff_vespene_lost_technology,169.0,23.964497,55.121283,0.0,0.0,0.0,0.0,150.0
food_made,169.0,65.538462,34.798741,15.0,31.0,62.0,102.0,117.0
food_used,169.0,50.307692,23.939656,12.0,28.0,51.0,73.0,95.0
minerals_collection_rate,169.0,1383.573964,521.157419,0.0,923.0,1500.0,1819.0,2385.0
minerals_current,169.0,186.863905,134.300522,0.0,90.0,151.0,250.0,751.0
minerals_killed,169.0,917.159763,1483.024453,0.0,0.0,100.0,925.0,5950.0
minerals_killed_army,169.0,802.958580,1326.455895,0.0,0.0,0.0,825.0,5100.0
minerals_killed_economy,169.0,114.201183,172.186865,0.0,0.0,50.0,100.0,850.0
minerals_killed_technology,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
minerals_lost,169.0,898.224852,1472.873704,0.0,0.0,100.0,925.0,5800.0
minerals_lost_army,169.0,805.917160,1335.502141,0.0,0.0,0.0,825.0,5100.0
minerals_lost_economy,169.0,92.307692,156.410632,0.0,0.0,0.0,100.0,700.0
minerals_lost_technology,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
minerals_used_active_forces,169.0,853.698225,725.547058,0.0,100.0,800.0,1425.0,2500.0
minerals_used_current,169.0,5000.739645,2761.387982,1000.0,2350.0,4975.0,7950.0,9600.0
minerals_used_current_army,169.0,853.698225,725.547058,0.0,100.0,800.0,1425.0,2500.0
minerals_used_current_economy,169.0,3093.491124,1277.964784,1000.0,1950.0,3100.0,4350.0,4950.0
minerals_used_current_technology,169.0,1053.550296,817.818199,0.0,300.0,950.0,1950.0,2400.0
minerals_used_in_progress,169.0,451.035503,291.960163,0.0,250.0,400.0,650.0,1450.0
minerals_used_in_progress_army,169.0,79.585799,106.439146,0.0,0.0,0.0,150.0,475.0
minerals_used_in_progress_economy,169.0,201.627219,172.303676,0.0,50.0,150.0,400.0,675.0
minerals_used_in_progress_technology,169.0,169.822485,183.405202,0.0,0.0,150.0,300.0,900.0
resources_killed,169.0,1339.792899,2136.921069,0.0,0.0,100.0,1500.0,8275.0
resources_lost,169.0,1321.597633,2128.466946,0.0,0.0,100.0,1500.0,8125.0
resources_used_current,169.0,5614.792899,3233.664779,1000.0,2350.0,5725.0,8875.0,11100.0
resources_used_in_progress,169.0,527.958580,350.709491,0.0,275.0,500.0,725.0,1700.0
vespene_collection_rate,169.0,379.887574,200.366908,0.0,291.0,335.0,515.0,694.0
vespene_current,169.0,118.698225,83.154675,0.0,51.0,114.0,181.0,337.0
vespene_killed,169.0,422.633136,657.320513,0.0,0.0,0.0,575.0,2325.0
vespene_killed_army,169.0,422.633136,657.320513,0.0,0.0,0.0,575.0,2325.0
vespene_killed_economy,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
vespene_killed_technology,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
vespene_lost,169.0,423.372781,659.399427,0.0,0.0,0.0,575.0,2325.0
vespene_lost_army,169.0,423.372781,659.399427,0.0,0.0,0.0,575.0,2325.0
vespene_lost_economy,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
vespene_lost_technology,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
vespene_used_active_forces,169.0,424.112426,364.627312,0.0,0.0,400.0,725.0,1250.0
vespene_used_current,169.0,614.053254,499.142112,0.0,0.0,650.0,1025.0,1650.0
vespene_used_current_army,169.0,424.112426,364.627312,0.0,0.0,400.0,725.0,1250.0
vespene_used_current_economy,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
vespene_used_current_technology,169.0,189.940828,155.032627,0.0,0.0,200.0,250.0,500.0
vespene_used_in_progress,169.0,76.923077,86.085506,0.0,0.0,50.0,150.0,350.0
vespene_used_in_progress_army,169.0,43.786982,64.594722,0.0,0.0,0.0,100.0,275.0
vespene_used_in_progress_economy,169.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
vespene_used_in_progress_technology,169.0,33.136095,56.665154,0.0,0.0,0.0,100.0,150.0
workers_active_count,169.0,34.029586,12.483049,12.0,24.0,35.0,45.0,52.0
ability_id,517.0,3391.584139,5149.188073,0.0,0.0,1472.0,5608.0,23136.0
killer_pid,114.0,1.464912,0.518333,0.0,1.0,1.0,2.0,2.0

In [15]:
unnecessary_columns = [
    'count',
    'second',
    'killer_pid',
    'ff_minerals_lost_army',
    'ff_minerals_lost_economy',
    'ff_minerals_lost_technology',
    'ff_vespene_lost_army',
    'ff_vespene_lost_economy',
    'ff_vespene_lost_technology'
]
# drop unnecessary columns
df.drop(columns=unnecessary_columns, inplace=True)

In [16]:
unnecessary_upgrades = set(
    [x for x in df['upgrade_type_name'] if 'spray' in str(x).lower()]
)

for x in unnecessary_upgrades:
    df = df[df['upgrade_type_name'] != x]

df.shape

(1437, 50)

In [17]:
df = pd.get_dummies(df, columns=['name', 'upgrade_type_name'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1437 entries, 0 to 13181
Data columns (total 62 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   pid                                           694 non-null    float64
 1   unit_type_name                                476 non-null    object
 2   food_made                                     169 non-null    float64
 3   food_used                                     169 non-null    float64
 4   minerals_collection_rate                      169 non-null    float64
 5   minerals_current                              169 non-null    float64
 6   minerals_killed                               169 non-null    float64
 7   minerals_killed_army                          169 non-null    float64
 8   minerals_killed_economy                       169 non-null    float64
 9   minerals_killed_technology                    169 non-null    float64
 10  minerals_lost                                 169 non-null    float64
 11  minerals_lost_army                            169 non-null    float64
 12  minerals_lost_economy                         169 non-null    float64
 13  minerals_lost_technology                      169 non-null    float64
 14  minerals_used_active_forces                   169 non-null    float64
 15  minerals_used_current                         169 non-null    float64
 16  minerals_used_current_army                    169 non-null    float64
 17  minerals_used_current_economy                 169 non-null    float64
 18  minerals_used_current_technology              169 non-null    float64
 19  minerals_used_in_progress                     169 non-null    float64
 20  minerals_used_in_progress_army                169 non-null    float64
 21  minerals_used_in_progress_economy             169 non-null    float64
 22  minerals_used_in_progress_technology          169 non-null    float64
 23  resources_killed                              169 non-null    float64
 24  resources_lost                                169 non-null    float64
 25  resources_used_current                        169 non-null    float64
 26  resources_used_in_progress                    169 non-null    float64
 27  vespene_collection_rate                       169 non-null    float64
 28  vespene_current                               169 non-null    float64
 29  vespene_killed                                169 non-null    float64
 30  vespene_killed_army                           169 non-null    float64
 31  vespene_killed_economy                        169 non-null    float64
 32  vespene_killed_technology                     169 non-null    float64
 33  vespene_lost                                  169 non-null    float64
 34  vespene_lost_army                             169 non-null    float64
 35  vespene_lost_economy                          169 non-null    float64
 36  vespene_lost_technology                       169 non-null    float64
 37  vespene_used_active_forces                    169 non-null    float64
 38  vespene_used_current                          169 non-null    float64
 39  vespene_used_current_army                     169 non-null    float64
 40  vespene_used_current_economy                  169 non-null    float64
 41  vespene_used_current_technology               169 non-null    float64
 42  vespene_used_in_progress                      169 non-null    float64
 43  vespene_used_in_progress_army                 169 non-null    float64
 44  vespene_used_in_progress_economy              169 non-null    float64
 45  vespene_used_in_progress_technology           169 non-null    float64
 46  workers_active_count                          169 non-null    float64
 47  ability_id                                    517 non-null    float64
 48  name_BasicCommandEvent                        1437 non-null   uint8
 49  name_PlayerStatsEvent                         1437 non-null   uint8
 50  name_TargetPointCommandEvent                  1437 non-null   uint8
 51  name_TargetUnitCommandEvent                   1437 non-null   uint8
 52  name_UnitBornEvent                            1437 non-null   uint8
 53  name_UnitDiedEvent                            1437 non-null   uint8
 54  name_UnitDoneEvent                            1437 non-null   uint8
 55  name_UnitInitEvent                            1437 non-null   uint8
 56  name_UpgradeCompleteEvent                     1437 non-null   uint8
 57  upgrade_type_name_BlinkTech                   1437 non-null   uint8
 58  upgrade_type_name_Charge                      1437 non-null   uint8
 59  upgrade_type_name_GameHeartActive             1437 non-null   uint8
 60  upgrade_type_name_ProtossGroundWeaponsLevel1  1437 non-null   uint8
 61  upgrade_type_name_WarpGateResearch            1437 non-null   uint8
dtypes: float64(47), object(1), uint8(14)
memory usage: 569.7+ KB

In [19]:
player1_df = df[df['pid'] == 1].copy()
player2_df = df[df['pid'] == 2].copy()

# drop pid column
player1_df.drop(columns=['pid'], inplace=True)
player2_df.drop(columns=['pid'], inplace=True)
# drop 'unit_type_name' column from player1_df and player2_df
player1_df.drop(columns=['unit_type_name'], inplace=True)
player2_df.drop(columns=['unit_type_name'], inplace=True)

# drop all rows where 'pid' is 1 or 2 from df
df = df[df['pid'] != 1]
df = df[df['pid'] != 2]

print(player1_df.shape, player2_df.shape, df.shape)

(88, 60) (606, 60) (743, 62)

In [20]:
# drop all null columns from df
df.dropna(axis=1, how='all', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 743 entries, 0 to 13181
Data columns (total 15 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   unit_type_name                                476 non-null    object
 1   name_BasicCommandEvent                        743 non-null    uint8
 2   name_PlayerStatsEvent                         743 non-null    uint8
 3   name_TargetPointCommandEvent                  743 non-null    uint8
 4   name_TargetUnitCommandEvent                   743 non-null    uint8
 5   name_UnitBornEvent                            743 non-null    uint8
 6   name_UnitDiedEvent                            743 non-null    uint8
 7   name_UnitDoneEvent                            743 non-null    uint8
 8   name_UnitInitEvent                            743 non-null    uint8
 9   name_UpgradeCompleteEvent                     743 non-null    uint8
 10  upgrade_type_name_BlinkTech                   743 non-null    uint8
 11  upgrade_type_name_Charge                      743 non-null    uint8
 12  upgrade_type_name_GameHeartActive             743 non-null    uint8
 13  upgrade_type_name_ProtossGroundWeaponsLevel1  743 non-null    uint8
 14  upgrade_type_name_WarpGateResearch            743 non-null    uint8
dtypes: object(1), uint8(14)
memory usage: 21.8+ KB

In [21]:
# get all numeric columns in df
numeric_columns = [x for x in df.columns if df[x].dtype != 'object']

# get all numeric columns where sum is 0 in df
zero_columns = [x for x in numeric_columns if df[x].sum() == 0]

df.drop(columns=zero_columns, inplace=True)

In [22]:

# convert all values in df['unit_type_name'] to strings
df['unit_type_name'] = df['unit_type_name'].astype(str)
df['unit_type_name'].unique()

array(['LabMineralField', 'RichMineralField', 'LabMineralField750',
       'SpacePlatformGeyser', 'InhibitorZoneSmall', 'RichMineralField750',
       'UnbuildablePlatesDestructible', 'DestructibleDebris6x6',
       'DestructibleDebrisRampDiagonalHugeBLUR',
       'DestructibleDebrisRampDiagonalHugeULBR', 'BeaconArmy',
       'BeaconDefend', 'BeaconAttack', 'BeaconHarass', 'BeaconIdle',
       'BeaconAuto', 'BeaconDetect', 'BeaconScout', 'BeaconClaim',
       'BeaconExpand', 'BeaconRally', 'BeaconCustom1', 'BeaconCustom2',
       'BeaconCustom3', 'BeaconCustom4', 'Nexus', 'Probe', 'Pylon', 'nan',
       'Gateway', 'Assimilator', 'CyberneticsCore', 'Zealot', 'Stargate',
       'Stalker', 'ShieldBattery', 'Adept', 'AdeptPhaseShift', 'VoidRay',
       'Phoenix', 'TwilightCouncil', 'Oracle', 'DarkShrine',
       'DarkTemplar', 'Forge', 'RoboticsFacility', 'Sentry', 'ForceField',
       'Archon', 'Observer', 'Immortal'], dtype=object)

In [23]:


unique_units = df['unit_type_name'].unique()
unnecessary_units =[]
for unit in unique_units:
    if ('beacon' in unit.lower()) or ('nan' in unit.lower()):
        unnecessary_units.append(unit)

# drop all rows in df where 'unit_type_name' is in unnecessary_units
df = df[~df['unit_type_name'].isin(unnecessary_units)]

# dummify unit_type_name
df = pd.get_dummies(df, columns=['unit_type_name'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 446 entries, 0 to 13134
Data columns (total 39 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   name_UnitBornEvent                                     446 non-null    uint8
 1   name_UnitDiedEvent                                     446 non-null    uint8
 2   name_UnitDoneEvent                                     446 non-null    uint8
 3   name_UnitInitEvent                                     446 non-null    uint8
 4   unit_type_name_Adept                                   446 non-null    uint8
 5   unit_type_name_AdeptPhaseShift                         446 non-null    uint8
 6   unit_type_name_Archon                                  446 non-null    uint8
 7   unit_type_name_Assimilator                             446 non-null    uint8
 8   unit_type_name_CyberneticsCore                         446 non-null    uint8
 9   unit_type_name_DarkShrine                              446 non-null    uint8
 10  unit_type_name_DarkTemplar                             446 non-null    uint8
 11  unit_type_name_DestructibleDebris6x6                   446 non-null    uint8
 12  unit_type_name_DestructibleDebrisRampDiagonalHugeBLUR  446 non-null    uint8
 13  unit_type_name_DestructibleDebrisRampDiagonalHugeULBR  446 non-null    uint8
 14  unit_type_name_ForceField                              446 non-null    uint8
 15  unit_type_name_Forge                                   446 non-null    uint8
 16  unit_type_name_Gateway                                 446 non-null    uint8
 17  unit_type_name_Immortal                                446 non-null    uint8
 18  unit_type_name_InhibitorZoneSmall                      446 non-null    uint8
 19  unit_type_name_LabMineralField                         446 non-null    uint8
 20  unit_type_name_LabMineralField750                      446 non-null    uint8
 21  unit_type_name_Nexus                                   446 non-null    uint8
 22  unit_type_name_Observer                                446 non-null    uint8
 23  unit_type_name_Oracle                                  446 non-null    uint8
 24  unit_type_name_Phoenix                                 446 non-null    uint8
 25  unit_type_name_Probe                                   446 non-null    uint8
 26  unit_type_name_Pylon                                   446 non-null    uint8
 27  unit_type_name_RichMineralField                        446 non-null    uint8
 28  unit_type_name_RichMineralField750                     446 non-null    uint8
 29  unit_type_name_RoboticsFacility                        446 non-null    uint8
 30  unit_type_name_Sentry                                  446 non-null    uint8
 31  unit_type_name_ShieldBattery                           446 non-null    uint8
 32  unit_type_name_SpacePlatformGeyser                     446 non-null    uint8
 33  unit_type_name_Stalker                                 446 non-null    uint8
 34  unit_type_name_Stargate                                446 non-null    uint8
 35  unit_type_name_TwilightCouncil                         446 non-null    uint8
 36  unit_type_name_UnbuildablePlatesDestructible           446 non-null    uint8
 37  unit_type_name_VoidRay                                 446 non-null    uint8
 38  unit_type_name_Zealot                                  446 non-null    uint8
dtypes: uint8(39)
memory usage: 20.5 KB

In [24]:
# rename columns to player_1_ and player_2_
player1_df.columns = ['player_1_' + x for x in player1_df.columns]
player2_df.columns = ['player_2_' + x for x in player2_df.columns]

In [25]:

print(player1_df.shape, player2_df.shape, df.shape)

# drop duplicate rows
player1_df.drop_duplicates(inplace=True)
player2_df.drop_duplicates(inplace=True)

# for all missing value rows in player1_df and player2_df, fill with above row
player1_df.fillna(method='ffill', inplace=True)
player2_df.fillna(method='ffill', inplace=True)

print(player1_df.shape, player2_df.shape, df.shape)

# drop duplicate rows again
player1_df.drop_duplicates(inplace=True)
player2_df.drop_duplicates(inplace=True)

print(player1_df.shape, player2_df.shape, df.shape)

(88, 60) (606, 60) (446, 39)
(87, 60) (134, 60) (446, 39)
(87, 60) (134, 60) (446, 39)

In [26]:
# make new df with index of frame_range
new_df = pd.DataFrame(index=frame_range)
new_df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[13182 rows x 0 columns]

In [36]:
df.loc[282, ['name_UnitBornEvent', 'unit_type_name_Probe']]

       name_UnitBornEvent  unit_type_name_Probe
frame
282                     1                     1
282                     1                     1

In [35]:
# find all columns with values not ==0 at index 282
for col in df.columns:
    if df.loc[282, col].sum() != 0:
        print(col)

name_UnitBornEvent
unit_type_name_Probe

In [27]:
new_df = new_df.join(player1_df)
new_df = new_df.join(player2_df)
new_df = new_df.join(df)

In [28]:
# drop all rows with index = 0
new_df.drop(index=0, inplace=True)

# insert single row with index = 0 with all 0 values
new_df.loc[0] = 0

# create new row with index = 0 backfilled with first non-nan row
# for each column get first non-nan value
for col in new_df.columns:
    first_non_nan = new_df[col].first_valid_index()
    new_df.loc[0, col] = new_df.loc[first_non_nan, col]


# sort new_df by index
new_df.sort_index(inplace=True)
new_df

ValueError: Incompatible indexer with Series

In [40]:
# get all columns from player1_df and player2_df
player_columns_mask = player1_df.columns.tolist() + player2_df.columns.tolist()

# forward fill all new_df mask columns 
new_df[player_columns_mask] = new_df[player_columns_mask].fillna(method='ffill').copy()

new_df

,player_1_food_made,player_1_food_used,player_1_minerals_collection_rate,player_1_minerals_current,player_1_minerals_killed,player_1_minerals_killed_army,player_1_minerals_killed_economy,player_1_minerals_killed_technology,player_1_minerals_lost,player_1_minerals_lost_army,...,unit_type_name_Sentry,unit_type_name_ShieldBattery,unit_type_name_SpacePlatformGeyser,unit_type_name_Stalker,unit_type_name_TemplarArchive,unit_type_name_TwilightCouncil,unit_type_name_UnbuildableRocksDestructible,unit_type_name_VespeneGeyser,unit_type_name_WarpPrism,unit_type_name_Zealot
0,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15176,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15177,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15178,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15179,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15180,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# fillna for all other columns
new_df.fillna(0, inplace=True)
new_df

,player_1_food_made,player_1_food_used,player_1_minerals_collection_rate,player_1_minerals_current,player_1_minerals_killed,player_1_minerals_killed_army,player_1_minerals_killed_economy,player_1_minerals_killed_technology,player_1_minerals_lost,player_1_minerals_lost_army,...,unit_type_name_Sentry,unit_type_name_ShieldBattery,unit_type_name_SpacePlatformGeyser,unit_type_name_Stalker,unit_type_name_TemplarArchive,unit_type_name_TwilightCouncil,unit_type_name_UnbuildableRocksDestructible,unit_type_name_VespeneGeyser,unit_type_name_WarpPrism,unit_type_name_Zealot
0,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,15.0,12.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15176,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15177,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15178,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15179,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15180,103.0,51.0,531.0,360.0,3800.0,2400.0,900.0,500.0,7975.0,5600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
new_df.isna().sum().sum()

0

In [43]:
new_df['game_winner']

KeyError: 'game_winner'

In [17]:
replay_df = pd.read_csv('data/replays.csv')
replay_df.head()

,filename,map,player1_race,player2_race,player1_mmr,player2_mmr,game_length,game_type,game_speed,game_winner,timestamp,fps,is_ladder,region,player1_highest_league,player2_highest_league,filehash
0,C:/Users/jared/Gits/sc2-modeling/data/Spawning...,abb20e9c587f5f6ce279a6aa8c7e9be2897607abb00434...,Terran,Protoss,-36400.0,NaN,402,1v1,Normal,1,1633598712,16.0,False,us,4,0,9384fda8c370ea7d130ac20244f7d0fda9a9b834004445...
1,C:/Users/jared/Gits/sc2-modeling/data/Spawning...,abb20e9c587f5f6ce279a6aa8c7e9be2897607abb00434...,Terran,Zerg,-36400.0,NaN,371,1v1,Normal,1,1633603684,16.0,False,us,4,0,f9864054498acf297aacf2be80896ba131716a341983de...
2,C:/Users/jared/Gits/sc2-modeling/data/Spawning...,c2bcc137d9ce43fbf9a5ddd04f5167892c779c29616de9...,Zerg,Zerg,4022.0,3502.0,371,1v1,Faster,1,1633788999,16.0,True,eu,6,6,178a82fa5045e82a3920688274d7a524595f0ef6dc91ae...
3,C:/Users/jared/Gits/sc2-modeling/data/Spawning...,e83bd9ddb33fcdc21a801f9bd598ed081f8ca60f810522...,Zerg,Protoss,NaN,NaN,1803,1v1,Faster,1,1630608640,16.0,False,eu,7,6,99ba80721116d18f965c141581baa878abf02526f48bc6...
4,C:/Users/jared/Gits/sc2-modeling/data/Spawning...,e83bd9ddb33fcdc21a801f9bd598ed081f8ca60f810522...,Zerg,Protoss,3615.0,3567.0,502,1v1,Faster,1,1633138764,16.0,True,us,5,5,b9e96a1dabcc0de0cfd89e8f0d02b5b8e064ec3f3c07c1...

In [7]:
a = pd.DataFrame({'a':[1, 2, 3], 'b':[np.nan,np.nan,np.nan]})
frst = a['b'].first_valid_index()

In [9]:
print(frst)

None

In [20]:
replay_df['game_winner'].value_counts()

1    18729
2    16024
0     2059
Name: game_winner, dtype: int64